/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #305a9a;
    /* display: flex;
    justify-content: center; */
    min-height: 100vh;
    padding: 20px;
}
.header {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff6f61;
    display: flex;
    align-items: center;
}

.header .logo ion-icon {
    margin-right: 10px;
    font-size: 1.8rem;
    color: #000;
}

.nav a {
    margin: 0 10px;
    font-weight: bold;
    color: #fff;
    transition: color 0.3s;
}

.nav a:hover {
    color: #ff6f61;
}


/* Profile Container */
.profile-container {
    background: rgba(0, 0, 0, 0.8);
    margin-left: 35%;
    margin-top: 25px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

/* Profile Header */
.profile-header {
    margin-bottom: 20px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.profile-header h1 {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 5px;
}

.profile-header p {
    font-size: 1rem;
    color: #fff;
}

/* Profile Info */
.profile-info {
    text-align: left;
    margin-top: 20px;
}

.profile-info h2 {
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.6;
}

.profile-info ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.profile-info ul li {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.profile-info ul li strong {
    color: #333;
}

/* Social Links */
.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icon {
    display: inline-block;
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.social-icon:hover {
    background-color: #e65550;
}

/* Responsive Design */
@media (max-width: 480px) {
    .profile-container {
        padding: 20px;
    }

    .profile-header h1 {
        font-size: 1.5rem;
    }

    .profile-info h2 {
        font-size: 1.2rem;
    }
}
